@import "tailwindcss";

.gray{
    background: #134686;
}

.cyan{
    background-color: #134686;
}

.header{
    color: #FEB21A;
}

.body{
    color: #FDF4E3;
}

.grid-children{
    @apply p-5 bg-yellow-100 text-blue-950 col-span-3 text-center rounded-md font-semibold;
    color: #134686;
    background-color: #FDF4E3;
}


